#asset-list {
    display: flex;
    flex-direction: column;
    background-color: var(--editing-tools-bg-color);
    width: 7rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.asset-list-buttons {
    display: flex;
    justify-content: space-between;
    height: 1.7rem;
    padding: 0.4rem 0.4rem 0;
    background-color: var(--sidebar-bg-color);
}

.asset-button {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    color: var(--sidebar-icon-inactive-color);
    text-align: center;
    cursor: pointer;
}