#asset-list {
    display: flex;
    flex-direction: column;
    background-color: var(--editing-tools-bg-color);
    width: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
}

.asset-list-buttons {
    display: flex;
    justify-content: space-between;
    height: 1.7rem;
    padding: 0.4rem 0.4rem 0;
    background-color: var(--sidebar-bg-color);
}

.asset-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.asset-fields {
    background-color: #dedede;
    margin: 0 1rem 1rem 1rem;
    padding: 2rem;
}

.asset-filename {
    font-size: large;
    font-weight: 700;
    background-color: #aeaeae;
    padding: 2rem;
    margin: 0 1rem 0 1rem;
}

.asset-file-content {
    background-color: #dedede;
    max-height: 500px;
    overflow: scroll;
    margin: 0 1rem 1rem 1rem;
}

.asset-button {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    color: var(--sidebar-icon-inactive-color);
    text-align: center;
    cursor: pointer;
}

.asset-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--sidebar-icon-inactive-color);
    border-radius: 5px;
    margin-bottom: 0.75rem;
    height: 4rem;
}

.asset-drop.dragging {
    height: 8rem;
    transition: 1s ease-in-out;
}

.asset-import > input,
.asset-export > input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
}


/* BROWSER STUFF */

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;
 }
 ::-moz-placeholder {
    font-style: italic;
 }
 :-ms-input-placeholder {
    font-style: italic;
 }

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-icon-inactive-color);
}